@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700&amp;subset=greek');

body {

}

#trapezoid {
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 100vh solid #003E74;
    border-left: 0vw solid transparent;
    border-right: 20vw solid transparent;
    height: 0vh;
    width: 10vw;
}

*, html {
    margin:0;
    padding:0;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 70vh;
    right: 2vw;
}

.button {
    border: 0.1vh solid #003E74;
    list-style: none;
    text-decoration: none;
    font-family: fira sans;
    font-size: 4vh;
    font-weight: 100;
    width: 9vw;
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-right: 2vw;
    float: left;
    cursor: pointer;
}

.learn {
    color: #003E74;
    mix-blend-mode: color(#EBEEEE);
    transition: background-color ease-in 0.5s;
}

.teach {
    color: #003E74;
    mix-blend-mode: color(#EBEEEE);
    transition: background-color ease-in 0.5s;
}

.code {
    color: #003E74;
    mix-blend-mode: color(#EBEEEE);
    transition: background-color ease-in 0.5s;
}