@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700&amp;subset=greek');

body {

}

.bluequad {
    border-bottom: 18px solid #00b8af;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0px;
    width: 10px;
}



.a {
    position: absolute;
    width: 50vh;
    height: 50vh;
    -webkit-animation: mymovea 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
}

.b {
    position: absolute;
    width: 15vh;
    height: 15vh;
    transform: rotate(220deg);
    -webkit-animation: mymoveb 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
}

.c {
    position: absolute;
    right: -30vh;
    bottom: -30vh;
    width: 100vh;
    height: 100vh;
    transform: rotate(-40deg);
}

.trap {
    position: absolute;
    left: -34vw;
    top: 0vh;
    width: 80vw;
    height: 150vh;
	background: #0091D4;
    transform: rotate(-30deg);

}

.teach {
    font-family: fira sans;
    position: absolute;
    left: 65vw;
    top: 70vh;
    color: #003E74;
    cursor:pointer;
    mix-blend-mode: color(#EBEEEE);
}

.learn {
    font-family: fira sans;
    position: absolute;
    left: 45vw;
    top: 70vh;
    cursor:pointer;
    color: #003E74;
        mix-blend-mode: difference;
}
.code {
    font-family: fira sans;
    position: absolute;
    left: 85vw;
    top: 70vh;
    cursor:pointer;
    color: #003E74;
}

@keyframes mymovea {
    0%   {left:-3vh; top:-7vh;}
    50%  {left:0vh; top:-2vh;}
    100% {left:-3vh; top:-7vh;}
}


@keyframes mymoveb {
    0%   {left:23vh; top:10vh;transform: rotate(220deg);}
    50%  {left:25vh; top:8vh;transform: rotate(210deg);}
    100% {left:23vh; top:10vh;transform: rotate(220deg);}
}

